:root {
  --green-brand-color: rgba(15, 76, 42, 255);
  --red-brand-color: rgba(197, 1, 5, 255);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: Poppins;
}
/* nav */
.header {
  position: relative;
  height: 100vh;
}
nav {
  width: 100%;
  z-index: 1000;
  background-color: #f2f2f2;
  transition: background-color 0.6s;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav:hover {
  background-color: #ffffff;
}
.nav-content {
  width: 100%;
  max-width: 1920px;
}
.logo {
  width: 130px;
  padding: 5px;
  margin-left: 30px;
  transition: all 1s;
  position: absolute;
}
.logo:hover {
  opacity: 0.5;
  cursor: pointer;
}
nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 25px;
}

nav ul li a {
  color: #4b4b4b;
  font-size: 25px;
  padding: 7px 13px;
  border-radius: 3px;
  transition: background-color 0.5s, color 0.2s;
}
a.active:hover {
  background-color: rgba(197, 1, 5, 255);
}
a:hover {
  color: rgba(197, 1, 5, 255);
}

a.active {
  /* border: solid;*/
  border-radius: 60px;
  color: white;
  background-color: var(--green-brand-color);
  padding: 7px 30px;
}
.checkbtn {
  font-size: 40px;
  color: var(--green-brand-color);
  float: right;
  line-height: 105px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
.low-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/slider1.png);
  background-size: cover;
  z-index: 999;
  position: relative;
  animation: animate 15s infinite;
}

@keyframes animate {
  50% {
    background: url(img/slider2.png);
    background-size: cover;
  }
  100% {
    background: url(img/slider1.png);
    background-size: cover;
  }
}

.low-header--content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 2s;
  top: 50px;
}

.header h1 {
  color: #414141;
  font-size: 100px;
  font-family: Poppins;
  font-weight: 700;
}

.header h2 {
  color: #414141;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 700;
}

.learn-more {
  border: solid 3px var(--green-brand-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 30px;
  color: var(--green-brand-color);
  transition: all 0.7s;
}
.learn-more:hover {
  transform: translateY(20px);
  border-color: var(--red-brand-color);
}
.eu--img-container {
  /* margin-top: 30px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.eu-logo {
  width: 300px;
}
.eu-logo--second {
  width: 350px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  max-width: 1920px;
  transition: all 1s;
}
#projects,
#new-stuff,
#products,
#company,
.quoteSection {
  padding: 175px 10vw;
  border-top: solid;
  border-width: 2px;
  border-color: #c9c9c9;
}

/* NEW STUFF */
.new-stuff--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.folder {
  box-shadow: 5px 5px 20px #414141;
  margin-top: 50px;
}
.new-stuff p {
  text-align: center;
}
.new-stuff--btn {
  margin-top: 60px;
  font-family: poppins;
  font-weight: 550;
  background: none;
  cursor: pointer;
  color: var(--green-brand-color);
  border: solid 7px var(--green-brand-color);
  border-radius: 50px;
  font-size: 50px;
  padding: 10px 200px;
  transition: border-color 0.4s, color 0.4s;
}
.new-stuff--btn:hover {
  color: var(--red-brand-color);
  border-color: var(--red-brand-color);
}
.new-stuff--btn:active {
  opacity: 0.8;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

section h2 {
  color: var(--green-brand-color);
  font-size: 30px;
  padding-bottom: 50px;
}
section h3 {
  font-size: 25px;
}
section p {
  font-size: 30px;
  color: #4b4b4b;
  text-align: left;
}
.company-view {
  max-width: none;
  padding: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/background.jpg);
  background-position: center;
  background-size: cover;
}
.company-view--quote {
  color: white;
  font-size: 100px;
  padding: 0;
}

.company-view--logo {
  width: 400px;
}
.text-centered {
  text-align: center;
}

.highlight {
  color: var(--green-brand-color);
  font-weight: bold;
}
.quoteSection {
  font-size: 23px;
  color: #4b4b4b;
  border-top: solid;
  border-width: 2px;
  border-color: #c9c9c9;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;
}
.quoteSection h2 {
  font-size: 70px;
}
/* PROJECT */
.project--logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project--logo-container img {
  width: 400px;
}
.project--text-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.project--text-container p {
  text-align: center;
}
/* PRODUCTS */
.products--wrapper,
.products--batteries {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products--wrapper {
  flex-direction: column;
}
.products--wrapper h3 {
  padding: 10px;
}

.products--batteries {
  flex-wrap: wrap;
  max-width: 25vw;
}

.battery {
  font-size: 20px;
  width: 200px;
  font-family: poppins;
  padding: 10px 30px;
  border: none;
  color: white;
  border-radius: 40px;
  margin: 10px;
  background-color: var(--red-brand-color);
  transition: background-color 0.3s;
  cursor: pointer;
}
.battery:hover {
  background-color: var(--green-brand-color);
}

.btn {
  display: inline-block;
  background-color: var(--green-brand-color);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

.btn:hover {
  background-color: var(--red-brand-color);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-brand-color);
}
footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer h2 {
  color: white;
  font-size: 100px;
  text-align: left;
  padding: 0;
}
.footer--wrapper {
  display: flex;
  align-items: center;
  gap: 300px;
  margin-bottom: 20px;
}
.footer--contacts {
  color: white;
  font-size: 20px;
}
.footer--nav {
  position: static;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  background: none;
}
.footer--nav:hover {
  background: none;
}
.footer--nav a {
  color: white;
  padding: 5px 30px;
  border-radius: 30px;
  border: solid 4px white;
  transition: all 0.3s;
}
.footer--nav a:hover {
  color: var(--red-brand-color);
  border-color: var(--red-brand-color);
}
.about-image {
  border: solid 1px grey;
  border-radius: 0px;
  width: 40%;
}
.about-wrapper p {
  font-size: 30px;
  text-align: justify;
}
.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-top: 100px;
}
.about-wrapper h3 {
  font-size: 50px;
  color: #414141;
}
.about-wrapper h4 {
  font-size: 35px;
  color: #4b4b4b;
  font-weight: 200;
}
#thirdSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1155px) {
  a.active {
    border-width: 2.5px;
  }

  nav ul li a {
    font-size: 30px;
    padding: 5px 5px;
  }
  nav ul li {
    margin: 0 15px;
  }
}

@media (max-width: 1000px) {
  .about-wrapper {
    flex-direction: column;
  }
  .wrapper-second {
    flex-direction: column-reverse;
  }
  .about-image {
    width: 650px;
    box-shadow: 5px 5px 10px #7e7e7e;
    border-radius: 15px;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffffc4;
    top: 105px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 40px;
    color: var(--green-brand-color);
    font-weight: bold;
  }
  .company-view--logo {
    width: 250px;
  }
  a:hover,
  a.active {
    background: none;
    border-width: 2px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .footer--wrapper {
    gap: 100px;
  }
  .logo {
    width: 180px;
  }
  .eu-logo {
    width: 160px;
  }
  .eu-logo--second {
    width: 200px;
  }
  .btn {
    font-size: 20px;
    padding: 15px 20px;
  }
  .footer--nav a {
    font-size: 20px;
    border-width: 2px;
  }
  #secondSection {
    display: none;
  }
}

@media (max-width: 800px) {
  section {
    padding: 100px 5vw;
  }
  .low-header h1 {
    font-size: 50px;
  }
  .low-header h2 {
    font-size: 30px;
  }
  footer h2 {
    font-size: 30px;
  }
  .company-view--logo {
    width: 175px;
  }
  .footer--nav a {
    font-size: 15px;
    padding: 5px 10px;
  }
  .footer--contacts {
    font-size: 12px;
  }
  .footer--wrapper {
    gap: 10px;
  }
  .footer--nav {
    gap: 10px;
  }
  .learn-more {
    font-size: 25px;
    border-width: 2px;
  }
  .quoteSection h2 {
    font-size: 20px;
  }
  .about-image {
    border-radius: 30px;
  }
}

@media (max-width: 450px) {
  .header h1 {
    font-size: 38px;
  }
  .header h2 {
    font-size: 20px;
  }
  .learn-more {
    font-size: 15px;
    border-width: 1px;
    padding: 5px 15px;
  }
  .logo {
    top: 10px;
    width: 100px;
  }
  .company-view--logo {
    width: 150px;
  }
  section {
    padding: 75px 3vw;
  }
  .footer--nav a {
    font-size: 10px;
    padding: 5px 10px;
  }
  .btn {
    font-size: 10px;
    padding: 15px 20px;
  }
  btn i {
    font-size: 5px;
  }
  .checkbtn {
    line-height: 80px;
    font-size: 30px;
  }
  .eu-logo {
    width: 100px;
  }
  .eu-logo--second {
    width: 140px;
  }
  .eu--img-container {
    gap: 20px;
  }
}
